<div class="head">
    <div class="info">
        <span class="large">Status do servidor:</span>
        <span class="small">OS: {{osVersion}}</span>
        <span class="small">Tempo online: {{daysOn}} dia(s)</span>
    </div>
    <div class="chart">
        <app-chart-circle
        [label]="'CPU'"
        [percent]=10.1
        [id]=1
        ></app-chart-circle>
        <app-chart-circle
        [label]="'RAM'"
        [percent]=40.5
        [id]=2
        ></app-chart-circle>
        <app-chart-circle
        [label]="'DISK'"
        [percent]=70
        [id]=2
        ></app-chart-circle>
    </div>
</div>

