/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    --primary-bg-color: #555;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}
app-root {
    display: flex;
    flex-direction: row;
}
.pointer {
    cursor: pointer;
}